.nav-list {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.input-box {
    position: relative;
}

.input-box input {
    border: none;
    border-radius: .7rem;
    outline: none;
    padding: 1rem 3rem 1rem 1rem;

}

.input-box button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
    padding: 1rem;
}

.input-box button i {
    color: var(--effect-color);
}

@media (max-width: 768px) {
    .desktop-nav-menu {
        display: none;
    }
}