.mobile-nav-menu {
    display: none;
}

@media (max-width: 768px) {
    .mobile-nav-menu {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: transparent;
        padding: 1rem;
        width: 100%;
        z-index: 99;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .mobile-list {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--primary-color);
        border-radius: 1rem;
    }

    .mobile-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8rem;
        padding: 1.4rem;
        margin: 1rem;
        border-radius: 1rem;
        color: var(--dark-bg);
    }

    .mobile-link i {
        font-size: 2rem
    }

    .mobile-link.active i {
        color: var(--effect-color);
    }
}