.side-border {
    height: .4rem;
    border: .2rem solid var(--effect-color);
}

#featured {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
 
.featured-bg .leads {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.featured-bg .row {
    margin: 3rem auto;
}

.featured-images {
    position: relative;
    height: 40rem;
    flex: 1 1 calc(25% - 2rem);
}

.featured-images img {
    border-radius: .6rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
}

.featured-images:hover img {
    opacity: .8;
}

.featured-btn {
    cursor: pointer;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translate(-50%);
    border: none;
    border-radius: .6rem;
    background-color: var(--effect-color);
    color: var(--light-text-color);
    font-size: 1.8rem;
    padding: .5rem 2.4rem;
}

.featured-btn:hover {
    text-decoration: underline;
}

.side-line-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 2rem;
}

.h-line {
    width: 30%;
    border: .19rem solid var(--effect-color);
}

.side-line-title .hi {
    margin: 0;
    font-size: 2.8rem;
}

@media (max-width: 1200px) {
    .featured-images {
        flex: 1 1 calc(50% - 2rem);
        margin-bottom: 1rem;
    }
}


@media (max-width: 768px) {
    .featured-images {
        height: 32rem;
    }

    .side-line-title {
        margin: 3rem 2rem;
    }

    .h-line {
        display: none;
    }
}

@media (max-width: 550px) {
    .featured-images {
        height: 24rem;
    }
}


