#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    padding: 2.5rem 10rem;
}

#main-nav a {
    text-decoration: none;
}

#main-nav ul {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;

}

#main-nav .logo i {
    font-size: 3.5rem;
}

#main-nav ul li {
    margin-left: 4rem;
}

#main-nav ul li a{
    font-size: 2rem;
    color: var(--secondary-color);
}

#main-nav ul li a:hover {
    color: var(--effect-color);
    transition: all .4s;
}

#main-nav ul li a.active {
    color: var(--effect-color);
}

#main-nav .logo {
    font-size: 3.2rem;
    color: var(--effect-color);
    font-weight: 700;
}

.nav-bars-show {
    display: none;
}


@media (max-width: 991px) {
    #main-nav {
        flex-direction: column;
        padding: 2rem 4rem;
    }

    .nav-logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bars-show {
        display: block;
    }

    .nav-bars-show i,
    .nav-bars-hide i {
        font-size: 2.4rem;
        color: var(--effect-color);
    }

    .nav-menu-show .nav-list {
        max-height: 0;
        transition: max-height 1s;
        overflow: hidden;
    }

    .nav-menu-hide .nav-list {
        max-height: 100vh;
        transition: max-height 1.5s;
        overflow: hidden;
    }

    .nav-menu-show li {
        opacity: 0;
        transform: translateX(-50rem);
        transition: all .8s;
    }

    .nav-menu-hide li {
        opacity: 1;
        transform: translateX(0);
        transition: all .8s;
    }



    .nav-list {
        display: flex;
        flex-direction: column;
    }

    .nav-list li {
        width: 60vw;
        margin: .5rem 1.2rem;
        padding: 1.2rem 1rem;
        border-bottom: .1rem solid var(--effect-color);
    }

    nav.list li:hover {
        opacity: .8;
    }

    .nav-list li a{
        margin-left: 0;
    }

    .nav-menu + .show {
        display: none;
    }
}

@media (max-width: 470px) {
    #main-nav {
        padding: 1.2rem 2rem;
    }

    #bars-mobile i{
        font-size: 2.5rem;
    }
}