#recipe-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem .5rem;
}

#recipe-card a {
    flex: 1 1 calc(25% - 2rem);
    max-width: calc(25% - 2rem);
    transition: transform .4s;
}

#recipe-card a:hover {
    transform: scale(1.01);
}

#recipe-card a:hover .card-main hr {
    width: 100%;
    transition: width .4s;
    transform-origin: right;
}

.food-card {
    margin-bottom: 1.6rem;
    border-radius: 1rem;
    box-shadow: rgba(174, 68, 90, 0.3) 2px 2px 1px 0px, rgba(174, 94, 90, 0.2) 0px 1px 3px 1px;
}

.card-image img {
    display: block;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    transition: all .3s;
}

.food-card .card-main {
    min-height: 15rem;
    padding: 1rem .5rem 3rem .5rem;
    background-color: var(--light-text-color);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#recipe-card .card-main  {
    color: var(--effect-color);
    position: relative;
}

#recipe-card .card-main::after {
    content: "";
    position: absolute;
    top: 2.7rem;
    width: 20%;
    height: .3rem;
    background-color: var(--effect-color);
    border-radius: .5rem;
    transition: all .5s;
}

#recipe-card a:hover .card-main::after {
    width: 97%
}

#recipe-card .card-main h3 {
    margin-top: .5rem;
    color: var(--dark-text-color);
}



@media (max-width: 1200px) {
    #recipe-card a {
        flex: 1 1 calc(33% - 2rem);
        max-width: calc(33% - 2rem);
    }

    #recipe-card a:hover {
        transform: none;
    }

    #recipe-card .food-card {
        border: 1px solid var(--effect-color);
    }

}

@media (max-width: 768px) {
    #recipe-card a {
        flex: 1 1 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
    }

}


