#recipe-details {
  margin: 10rem 0;
}

#recipe-details .details-loading {
  margin-top: 5rem;
}

#recipe-details .recipe-title h3 {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 2.8rem;
  color: var(--dark-text-color);
}
 
#recipe-details .recipe-title h3::after {
  content: '';
  position: absolute;
  bottom: -1.2rem;
  right: 0;
  width: 100%;
  height: .3rem;
  background-color: var(--effect-color);
  border-radius: .5rem;
}

#recipe-details .details-body {
  display: flex;
  flex-direction: column;
}

#recipe-details .details-image{
  height: 50vh;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
}

#recipe-details .details-image img {
  width: 75%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#recipe-details .details-main h4{
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: var(--effect-color);
  position: relative;
}

#recipe-details .details-main h4::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 25%;
  height: .3rem;
  background-color: var(--effect-color);
  border-radius: .3rem;
}

#recipe-details .details-main p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: .5rem;
  color: var(--dark-text-color);
}

#recipe-details .details-ingri {
  margin-top: 4rem;
}

#recipe-details .details-ingri h4 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: var(--effect-color);
  position: relative;
}

#recipe-details .details-ingri h4::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 20%;
  height: .3rem;
  background-color: var(--effect-color);
  border-radius: .3rem;
}

#recipe-details .details-ingri ul {
  padding: .5rem;
}

#recipe-details .details-ingri ul li {
  margin-bottom: .3rem;
}

#recipe-details .details-ingri ul li i{
  color: var(--effect-color);
  font-size: 1.4rem;
}

#recipe-details .details-ingri ul li span {
  font-size: 1.7rem;
  padding-left: .5rem;
  color: var(--dark-text-color);
}

@media (max-width: 767px) {
  #recipe-details .details-image img {
    width: 80%;
  }

}

@media (max-width: 500px) {

  #recipe-details .details-image  {
    height: 45vh;
    margin: 3rem 0;
  }

  #recipe-details .details-image img {
    width: 100%;
    height: 40vh;
  }

  #recipe-details h4 {
    margin-left: .3rem;
  }

  #recipe-details .details-ingri ul {
    padding-left: .8rem;
  }
}